@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  background-color: #fff;
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.9375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.5625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  padding: 1.5625rem 0;
  background-color: #FCFCFC;
}

.header__content {
  padding-right: 3.125rem;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5rem;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (padding-top: clamp( 1.875rem , 0.8806818182rem  +  4.2424242424vw , 4.0625rem )) {
  .header__wrapper {
    padding-top: clamp( 1.875rem , 0.8806818182rem  +  4.2424242424vw , 4.0625rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.8806818182rem  +  4.2424242424vw , 4.0625rem )) {
  .header__wrapper {
    padding-top: calc(1.875rem + 2.1875 * (100vw - 23.4375rem) / 51.5625);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.3636363636rem  +  4.8484848485vw , 5rem )) {
  .header__wrapper {
    padding-bottom: clamp( 2.5rem , 1.3636363636rem  +  4.8484848485vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.3636363636rem  +  4.8484848485vw , 5rem )) {
  .header__wrapper {
    padding-bottom: calc(2.5rem + 2.5 * (100vw - 23.4375rem) / 51.5625);
  }
}

.header__body {
  position: relative;
}

.header__body img {
  padding-top: 2.5rem;
  max-width: 100%;
}

.header__body img.phone-img {
  position: relative;
  z-index: 1;
}

.header__body img.texture-left {
  position: absolute;
  bottom: -18.485915493%;
  left: -14.2857142857%;
}

.header__body img.texture-right {
  position: absolute;
  top: -12.323943662%;
  right: -21.0526315789%;
}

.top-header__number {
  position: relative;
  font-weight: 700;
}

@supports (font-size: clamp( 0.9375rem , 0.6250130208rem  +  1.0416666667vw , 1.125rem )) {
  .top-header__number {
    font-size: clamp( 0.9375rem , 0.6250130208rem  +  1.0416666667vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.6250130208rem  +  1.0416666667vw , 1.125rem )) {
  .top-header__number {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 29.99875rem) / 18);
  }
}

@supports (padding-left: clamp( 1.75rem , 1.1250260417rem  +  2.0833333333vw , 2.125rem )) {
  .top-header__number {
    padding-left: clamp( 1.75rem , 1.1250260417rem  +  2.0833333333vw , 2.125rem );
  }
}

@supports not (padding-left: clamp( 1.75rem , 1.1250260417rem  +  2.0833333333vw , 2.125rem )) {
  .top-header__number {
    padding-left: calc(1.75rem + 0.375 * (100vw - 29.99875rem) / 18);
  }
}

.top-header__number::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-image: url("../img/icon/phone.svg");
  background-repeat: no-repeat;
  vertical-align: baseline;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0.625rem;
  font-weight: 500;
}

@supports ((-moz-column-gap: clamp( 1.875rem , -7.0662676666rem  +  14.4216902221vw , 3.75rem )) or (column-gap: clamp( 1.875rem , -7.0662676666rem  +  14.4216902221vw , 3.75rem ))) {
  .nav__list {
    -webkit-column-gap: clamp( 1.875rem , -7.0662676666rem  +  14.4216902221vw , 3.75rem );
       -moz-column-gap: clamp( 1.875rem , -7.0662676666rem  +  14.4216902221vw , 3.75rem );
            column-gap: clamp( 1.875rem , -7.0662676666rem  +  14.4216902221vw , 3.75rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , -7.0662676666rem  +  14.4216902221vw , 3.75rem )) or (column-gap: clamp( 1.875rem , -7.0662676666rem  +  14.4216902221vw , 3.75rem ))) {
  .nav__list {
    -webkit-column-gap: calc(1.875rem + 1.875 * (100vw - 61.99875rem) / 13.00125);
       -moz-column-gap: calc(1.875rem + 1.875 * (100vw - 61.99875rem) / 13.00125);
            column-gap: calc(1.875rem + 1.875 * (100vw - 61.99875rem) / 13.00125);
  }
}

.content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-header__title {
  font-weight: 700;
}

@supports (font-size: clamp( 2.25rem , 1.9090909091rem  +  1.4545454545vw , 3rem )) {
  .content-header__title {
    font-size: clamp( 2.25rem , 1.9090909091rem  +  1.4545454545vw , 3rem );
  }
}

@supports not (font-size: clamp( 2.25rem , 1.9090909091rem  +  1.4545454545vw , 3rem )) {
  .content-header__title {
    font-size: calc(2.25rem + 0.75 * (100vw - 23.4375rem) / 51.5625);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6818181818rem  +  2.4242424242vw , 2.5rem )) {
  .content-header__title {
    margin-bottom: clamp( 1.25rem , 0.6818181818rem  +  2.4242424242vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6818181818rem  +  2.4242424242vw , 2.5rem )) {
  .content-header__title {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 23.4375rem) / 51.5625);
  }
}

.content-header__subtitle {
  font-weight: 500;
  font-size: 1.125rem;
}

@supports (margin-bottom: clamp( 1.25rem , 0.6818181818rem  +  2.4242424242vw , 2.5rem )) {
  .content-header__subtitle {
    margin-bottom: clamp( 1.25rem , 0.6818181818rem  +  2.4242424242vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6818181818rem  +  2.4242424242vw , 2.5rem )) {
  .content-header__subtitle {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 23.4375rem) / 51.5625);
  }
}

.content-header__btn {
  max-width: 13.75rem;
  width: 100%;
  padding: 1rem 3rem;
}

/* элементы меню */

.menu__body {
  display: none;
}

.menu__item:hover {
  background-color: #FF005C;
}

.menu__link {
  display: block;
  padding: 12px 24px;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.menu__link:hover {
  color: #fff;
}

.icon-menu {
  display: none;
}

.choose .title-2 {
  margin-bottom: 1.0714285714em;
}

@supports (padding-top: clamp( 3.125rem , 0.2840909091rem  +  12.1212121212vw , 9.375rem )) {
  .choose {
    padding-top: clamp( 3.125rem , 0.2840909091rem  +  12.1212121212vw , 9.375rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 0.2840909091rem  +  12.1212121212vw , 9.375rem )) {
  .choose {
    padding-top: calc(3.125rem + 6.25 * (100vw - 23.4375rem) / 51.5625);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 0.2840909091rem  +  12.1212121212vw , 9.375rem )) {
  .choose {
    padding-bottom: clamp( 3.125rem , 0.2840909091rem  +  12.1212121212vw , 9.375rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.2840909091rem  +  12.1212121212vw , 9.375rem )) {
  .choose {
    padding-bottom: calc(3.125rem + 6.25 * (100vw - 23.4375rem) / 51.5625);
  }
}

.choose__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.9375rem 0;
  row-gap: 1.25rem;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
}

.choose__card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 370px;
          flex: 1 1 370px;
  padding: 1.5625rem 2.5rem 2.5rem 2.1875rem;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 133, 255, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 133, 255, 0.15);
}

.card-choose__img {
  margin-bottom: 1.5625rem;
}

.card-choose .title-3 {
  padding-top: 1.5625rem;
  border-top: 2px solid #BFE0FF;
  margin-bottom: 1.1111111111em;
}

.card-choose__text {
  font-weight: 500;
  line-height: 1.35;
}

.crash__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 1.875rem;
  -webkit-column-gap: 2.8125rem;
     -moz-column-gap: 2.8125rem;
          column-gap: 2.8125rem;
}

.crash__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 590px;
          flex: 0 1 590px;
  width: 100%;
  padding: 2.1875rem 0.625rem 4.0625rem 5rem;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 133, 255, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 133, 255, 0.15);
}

.card-crash {
  position: relative;
}

.card-crash img {
  position: absolute;
  max-width: 100%;
  pointer-events: none;
}

.card-crash .bottom-img {
  bottom: 0;
  right: 0;
}

.card-crash .top-img {
  top: 0;
  right: 0;
}

.card-crash .title-3 {
  position: relative;
  z-index: 2;
  margin-bottom: 1.9444444444em;
}

.card-crash .title-3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -45px;
  width: 1.875rem;
  height: 1.875rem;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.card-crash .title-3.phone::before {
  background-image: url("../img/crash/01.svg");
}

.card-crash .title-3.battery::before {
  background-image: url("../img/crash/02.svg");
}

.card-crash .title-3.volume::before {
  background-image: url("../img/crash/03.svg");
}

.card-crash .title-3.camera::before {
  background-image: url("../img/crash/04.svg");
}

.card-crash .title-3.button::before {
  background-image: url("../img/crash/05.svg");
}

.card-crash .title-3.voice::before {
  background-image: url("../img/crash/06.svg");
}

.card-crash .title-3.wifi::before {
  background-image: url("../img/crash/07.svg");
}

.card-crash .title-3.setting::before {
  background-image: url("../img/crash/08.svg");
}

.card-crash__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.card-crash__list {
  font-weight: 500;
  line-height: 1.35;
  max-width: 13.125rem;
}

.card-crash__item:not(:last-child) {
  margin-bottom: 1.3333333333em;
}

.card-crash__link {
  background-color: #fff;
  position: relative;
  z-index: 2;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.card-crash__link:hover {
  color: #FF005C;
}

.recom__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5625rem;
}

.recom__item {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 133, 255, 0.15);
          box-shadow: 0px 0px 30px rgba(0, 133, 255, 0.15);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 220px;
          flex: 1 0 220px;
  min-height: 6.25rem;
}

.recom__item::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  color: white;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.3;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recom__item:hover::before {
  content: "Модели " attr(data-name) "\203A";
  background-color: rgba(255, 0, 92, 0.7);
}

.recom__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn {
  background-color: #FF005C;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 133, 255, 0.25);
          box-shadow: 0px 0px 30px rgba(0, 133, 255, 0.25);
  color: #fff;
  font-weight: 700;
}

.title-2 {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.35;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.8125rem;
}

.title-3 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.35;
}

@supports (padding-bottom: clamp( 3.125rem , 0.2840909091rem  +  12.1212121212vw , 9.375rem )) {
  .crash,
  .recom {
    padding-bottom: clamp( 3.125rem , 0.2840909091rem  +  12.1212121212vw , 9.375rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.2840909091rem  +  12.1212121212vw , 9.375rem )) {
  .crash,
  .recom {
    padding-bottom: calc(3.125rem + 6.25 * (100vw - 23.4375rem) / 51.5625);
  }
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.swiper-pagination-bullet {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #C4C4C4;
  border-radius: 100px;
}

@-webkit-keyframes pagination-time {
  0% {
    width: 30px;
  }

  100% {
    width: 10px;
  }
}

@keyframes pagination-time {
  0% {
    width: 30px;
  }

  100% {
    width: 10px;
  }
}

.swiper-pagination-bullet-active {
  position: relative;
  display: block;
  width: 30px;
  height: 10px;
  background-color: #FF005C;
  border-radius: 100px;
  -webkit-animation: pagination-time 6s linear;
          animation: pagination-time 6s linear;
}

@media (max-width: 61.99875em) {
  .nav__list {
    display: none;
  }

  .menu__body {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 15.625rem;
    height: 100%;
    padding: 80px 0;
    z-index: 2;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 133, 255, 0.15);
            box-shadow: 0px 0px 15px rgba(0, 133, 255, 0.15);
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    -o-transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  }

  .menu-open .menu__body {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .menu__item {
    font-size: 1.25rem;
    font-weight: 600;
    -webkit-transition: background-color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
  }

  .menu__item:not(:last-child) {
    border-bottom: 1px solid #000;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) {
  .header__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.875rem;
  }
}

@media (max-width: 29.99875em) {
  .top-header__number {
    display: none;
  }
}
